{% extends "base.html" %}

{% block title %}Future time{% endblock %}

{% block content %}
<p>
In {{ hour_offset }} hour(s), it will be {{ next_time }}.
</p>
{% endblock %}

{% block footer %}
 	{{ block.super }}
    <p>Visit us again!</p>
{% endblock %}